<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Passwords</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
         <!--start of nav-->
         <%- include('./partials/nav.ejs')%>
          <!--end of nav-->

          <!--Cards containing passwords which will be rendered dynamically-->
          <%if(!data){
            <div class = "container-fluid">
              <h1 style="text-align: center">No Passwords stored on your account</h1>
              <hr>
              <a href=""><button>Add Passwords</button></a>
            </div>
          }%>
          <%else{
            <div class="row">
              <%for (const password of data){
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">password.site</h5>
                      <p class="card-text">Your password is shown below, click to reveal</p>
                      <a href="#" class="btn btn-primary">password.encrypt_password</a>
                    </div>
                  </div>
                </div>
              }%>
            </div>
          }%>
          

</body>
</html>